#sidemenu{
    position:fixed;
    left: 0;
    right: auto;
    width:150px;
    background-color: antiquewhite;
}

#main{
    position: absolute;
    right: 25px;
    width: 80%;
    background-color: antiquewhite;
}

#status-overview,thead,tbody,th,tr,td{
    border: 1px solid;
    border-collapse: collapse;
}

thead{
    background-color: cornflowerblue;
}

a:active{
    color:red;
}

a:hover{
    color:blueviolet;
}

html{
    background: cadetblue;
}